#Connect to Postgres
DB_USER = "students"
DB_PASS = "XX"
DB_HOST = "dpg-d35pib0dl3ps7394mc4g-a.oregon-postgres.render.com"
DB_PORT = "5432"
DB_NAME = "beam_neb0"

#OpenAI
OPENAI_API_KEY=XX
#Slack
SLACK_BOT_TOKEN = XX
SLACK_SIGNING_SECRET = XX
SLACK_APP_TOKEN  = XX